
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.page-container {
    position: relative;
}

.main {
    position: relative;
    text-align: center;
}

.navigation {
    display: block;
    text-align: right;
}

.logo {
    display: block;
    padding-top: 180px;
}

.search-field {
    position: relative;
    padding-top: 35px;
}

.search-buttons {
    position: relative;
    padding-top: 35px;
}

.footer {
    background-color: rgb(220, 220, 220);
    position: absolute;
    bottom: 0;
    padding: 15px;
}

