
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px 20px 15px;
}

.navigation a {
    color:rgb(0, 0, 0);
    font-size: 13px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation a:hover {
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

.menu-icon {
    height: 16px;
    width: 16px;
    opacity: 0.7;
}

/*
.menu-icon:hover {
    background-color: green;
}
*/

#login {
    background-color: #1a73e8;
    color: rgba(255, 255, 255);
    margin-left: 15px;
    padding: 12px 25px 12px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

#login:hover {
    background-color: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.main {
    position: relative;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.search-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.search-field:hover {
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

input[type=text] {
    background-color: rgb(255, 255, 255);
    outline: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: 580px;
    height: 40px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
}

.mag-glass {
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    padding-top: 14px;
    padding-left: 16px;  
    opacity: 0.6;  
}

.search-buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
}

input[type=submit] {
    background-color: rgba(248, 249, 250);
    border-color: rgba(248, 249, 250);
    width: 130px;
    height: 40px;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
}

input[type=submit]:hover {
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color:rgb(100, 100, 100);
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

li {
    display: inline;
}

footer li:hover {
    color:rgb(100, 100, 100);
    text-decoration: underline;
}
