body, body * {
    font-family: Roboto, Arial, sans-serif;
}

body {
    font-size: 14px;
    min-width: 1200px;
    height: 100%;
    min-height: 1800px;
}

.upper-bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 30px;
}

.search-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#search-field:hover {
    border-radius: 50px;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

input[type=search] {
    background-color: rgb(255, 255, 255);
    outline: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    margin-top: -15px;
    margin-left: 160px;
    width: 690px;
    height: 45px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    padding: 5px 95px 5px 25px;
    font-size: 16px;
}

.clear-button {
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    padding-left: 770px;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
    margin-top: -30px;
}

.mag-glass {
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    padding-left: 815px;
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
    margin-top: -30px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px 20px 15px;
}

.navigation a {
    color:rgb(0, 0, 0);
    font-size: 13px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-icon {
    height: 16px;
    width: 16px;
    opacity: 0.7;
}

/*
.menu-icon:hover {
    background-color: green;
}
*/

#login {
    background-color: #1a73e8;
    color: rgba(255, 255, 255);
    margin: 10px 15px 15px 15px;
    padding: 12px 25px 12px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    min-width: 45px;
}

#login:hover {
    background-color: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.lower {
    height: 35px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #ebebeb;
}

.lower-bar {
    padding-top: 5px;
    margin-left: 190px;
    font-size: 13px;
    width: 640px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.lower-bar a {
    padding: 16px 12px 12px 10px;
    color: rgb(95, 100, 105);
    text-decoration: none;
}

.main {
    padding-top: 10px;
    margin-left: 190px;
    height: 1000px;
}

.results-time {
    color: rgb(95, 100, 105);
    padding: 5px 0 20px 0;
}

.main {
    width: 600px;
}

.individual-results {
    margin-bottom: 20px;
}

.main a {
    text-decoration: none;
    color: rgb(26, 13, 171);
}

a h1:hover {
    text-decoration: underline;
}

h1 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.25px;
    padding: 6px 0 6px 0;
}

h2 {
    display: inline;
    color: black;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    padding: 1px 0 1px 0;
}

h3 {
    display: inline;
    color: rgb(77, 81, 86);
    padding: 1px 0 1px 0;
}

h4 {
    color: rgb(77, 81, 86);
    font-size: 14px;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 22px;
    letter-spacing: 0.25px;
    padding: 1px 0 1px 0;
}

h5 {
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 30px 0;
}

.related {
    display: flex;
    margin-bottom: 50px;
}

.related-links {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 100%;
}

.related-links a {
    text-decoration: none;
    color: blue;
}

.related-links ul {
    padding: 3px 0 3px 0;
    letter-spacing: 0.25px;
    line-height: 20px;
    font-size: 14px;
}

.page-number {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 30px repeat(10, 25px) 60px 40px;
    grid-template-rows: 30px 30px;
    grid-template-areas: 
    "G p1 p2 p3 p4 p5 p6 p7 p8 p9 p10 next1 next2"
    "G p1 p2 p3 p4 p5 p6 p7 p8 p9 p10 next3 next2";
}

.page-number img {
    height: 20px;
}

.page-number div {
    text-align: center;
}

.page-number span {
    display: flex;
    color: orange;
    font-size: 25px;
    justify-content: center;
}

.page0 {grid-area: G;}
.page1 {grid-area: p1;}
.page2 {grid-area: p2;}
.page3 {grid-area: p3;}
.page4 {grid-area: p4;}
.page5 {grid-area: p5;}
.page6 {grid-area: p6;}
.page7 {grid-area: p7;}
.page8 {grid-area: p8;}
.page9 {grid-area: p9;}
.page10 {grid-area: p10;}
.page11 {grid-area: next1;}
.page12 {grid-area: next2;}

.page-number a:hover {
    text-decoration: underline;
}

p {
    display: inline;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 1200px;
    height: 50px;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    padding-left: 160px;
    padding-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer a {
    color:rgb(100, 100, 100);
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

footer li:hover {
    color:rgb(100, 100, 100);
    text-decoration: underline;
}

li {
    display: inline;
}